.header-admin {
    background: white;
    border-bottom: 1px solid transparent;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 20%);
    left: 0;
    position: relative;
    right: 0;
    top: 0;
    z-index: 1002;
    height: 85px;
}
.header-admin .header-left-admin {
    float: left;
    height: 90px;
    padding: 0 20px;
    position: relative;
    text-align: center;
    width: 230px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 10%;
    transition: all 0.2s ease-in-out;
}
.page-title-box-admin {
    border-radius: 0;
    height: 90px;
    margin-bottom: 0;
    padding: 17px 20px;
    display: flex;
    align-items: center;
    position: relative;
    
}
.page-title-box-admin h3 {
    text-align: center;
    color:rgb(3, 176, 60);
    /*font-weight: normal;*/
    font-size: 2rem;  
    margin-left: 13%;  
}
#nav{
    position: absolute;
    top:85px;
    background-color: #7fff00;
    height: 45px;
    width: 100%;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 20%);
}
.navbar-collapse{
    height: 45px;
}
.navbar-collapse ul{
    height: 45px;
    margin: 0;
    align-items: center;
    position: relative;
    left:18%;
}
.navbar-toggler{
    border-radius: 0;
}
.container{
    margin: 0;
    display: flex;
    align-items: center;
}
.container>button{
    display: flex;
    align-items: center;
    height: 35px;
}
.navbar-toggler:focus {
    box-shadow: 0 0 0 0.1rem;
}
.dropdown-menu{
    padding: 0;
    min-height: 4rem;
    min-width: 11rem;
    text-align: left;
    border-radius: 0;
    background-color: chartreuse;
    border: 0;
}
.dropdown-menu li a{
    padding: 2px 2px 2px 12px; 
}
.dropdown-menu li a{
    color: black;
}
.dropdown:hover>.dropdown-menu {
    display: block;
    left: 0;
}
.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
      min-height: 100px;
}
#logout{
    position: relative;
    left: 23%;
}

@media only screen and (max-width: 990px){
    #logout{
        position: relative;
        left: 0;
    }
    .navbar-collapse{
        height:270px;
        background-color: chartreuse;
        max-width: 100%;
        align-items: center;
        
    }
    .container{
        max-width: 100%;
        padding: 0;
       
    }
    .navbar-collapse ul{
        left: 0;
        align-items: center;
        border-top: 1px solid black;
    }
}
@media only screen and (max-width: 1034px) and (min-width:991px){
    #logout{
        position: relative;
        left: 10%;
    }
}
@media only screen and (max-width: 1034px) and (min-width:890px){
    .page-title-box-admin h3 {
        font-size: 1.7rem;
        margin-left: 10%;
    }
    
}
@media only screen and (max-width: 889px){
    .page-title-box-admin h3 {
        font-size: 1.5rem;
        margin-left: 8%;
    }
    #logout{
        position: relative;
        left: 0%;
    }
}
@media only screen and (max-width: 767.98px){
.header-admin {
    z-index: 1040;
}
.page-title-box-admin {
    display: none;
}
.header-admin .header-left-admin {
    position: absolute;
    width: 100%;
    left:0%;
}
}
@media only screen and (min-width: 991px){
   
    
}

