*{
    margin: 0;
    padding: 0;
}
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body
{
    font-family: sans-serif;
}
#total {
    display: flex;
    width: 100%;
    align-items: stretch;
    height: 100%;
}
img{
    float: left;
    background-color:white;
}
#name{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 20px;
    height: 100px;
    margin: 0px;
    font-size: 2em;
}
#sidebar {

    max-width: 215px;
    min-width: 215px;
    transition: all 0.1s;
}
#sidebar.active {
    margin-left: -250px;
}
#header{  
    background: linear-gradient(#141e30, #243b55);
    color: white;
    margin-bottom: 0%;
}
#sidebar ul.components {
    background-image: linear-gradient(#141e30, #243b55);;
    height: 100%;
}
#sidebar ul li a  {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color:white;
    text-decoration: none;
    transition:all 0.5s;
}
#sidebar ul li a:hover {
    color: #0a0707;
    background: #fff;
}

#sidebar ul li.active > a{
    color: #fff;
    background: #354fe0;
}
a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.2s;
}
@media (max-width:963px){
    #name{
        font-size: 1.7em;
    }
    img{
        width: 200px;
        height: 100px;
    }
    #sidebar{
        width: 200px;
    }
}
@media (max-width:705px){
    img{
        width:170px;
        height: 100px;
    }
    #name{
        font-size: 1.5em;
        padding-bottom: 0px;
    }
    #sidebar{
        width: 170px;
    }
}
