#toggle_btn{
    background-color: #4CAF50;
    height: 50px;
    display: block;
    width: 230px;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 20%);
}
.sidebar-inner{
    float: left;
}
.bar-icon {
    display: inline-block;
    width: 21px;
}
.bar-icon span {
    background-color: rgb(202, 37, 37);
    border-radius: 500px;
    display: block;
    height: 2px;
    margin-bottom: 5px;
    width: 21px;
}
.bar-icon span:nth-child(2) {
    width: 15px;
}

.mobile_btn {
    display: none;
    float: left;
}
.slide-nav .sidebar {
    margin-left: 0;
}
.sidebar {
    background-color: #4CAF50;
    border-right: 1px solid transparent;
    transition: all 0.2s ease-in-out 0s;
    width: 230px;
    z-index: 1001;
    float: left;
    clear: left;
}
.sidebar-inner {
    height: 100%;
    transition: all 0.2s ease-in-out 0s;
    overflow: hidden;
    width: 100%;
    height: 508px;
}

.sidebar-menu{
    padding: 0px;
}
.sidebar-menu ul {
    font-size: 15px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#sidebar ul li a  {
    padding: 10px;
    margin-left: 10px;
    font-size: 1em;
    display: block;
    color:white;
    text-decoration: none;
    transition:all 0.5s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#sidebar ul li a.active{
    color: #fff;
    background: #354fe0;
}
.menu-title {
    color: #ebecf1;
    display: flex;
    font-size: 14px;
    opacity: 1;
    padding: 5px 15px;
    white-space: nowrap;
}
input, button, a {
    transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
}
@media only screen and (min-width: 991px){
#toggle_btn {
    color: #999;
    float: left;
    font-size: 26px;
    line-height: 65px;
    padding: 0 10px;
}

}
@media only screen and (max-width: 1199.98px){

}
@media only screen and (max-width: 767.98px){
.header {
    z-index: 1040;
}
body {
    font-size: 0.875rem;
}
h3, .h3 {
    font-size: 1.375rem;
}
}
@media only screen and (max-width: 991.98px){
.header .header-left {
    position: absolute;
    width: 100%;
}

.page-title-box {
    display: none;
}
#toggle_btn,#too{
    height: 1000px;
    width: 50px;
    background-color: yellow;
}

.mobile_btn {
    display: block;
}
.sidebar {
    margin-left: -225px;
    width: 225px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    z-index: 1041;
}

}
#total {
    display: flex;
    width: 100%;
    align-items: stretch;
    height: 100%;
}
/*img{
    float: left;
    height: 70px;
    padding-left: 30px;
    padding-right: 40px;
    margin-bottom: 0%;
    vertical-align: middle;
}*/
#name{
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    height: auto;
    margin: 0px;
    padding-left: 80px;
    font-size: 1.6em;
    margin-left: 15%;
}
/*#sidebar {
    width: 350px;
    top: 0px;
    transition: all 0.1s;
}*/
.openbtn {
    font-size: 20px;
    cursor: pointer;
    padding: 5px 7px;
    border: none;
    float:left;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 70px;
    background: transparent;
    color: white;
  }
#sidebar.active {
    margin-left: -250px;
}
#header{  
    background: linear-gradient(to right, #00c5fb 0%, #0253cc 100%);
    color: white;
    margin-bottom: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#sidebar ul.components {
    background-color: #34444c;
    height: 100%;
}


