a{
    text-decoration: none;
  }
  a:hover{
      text-decoration: none;
  }
.header-admin {
    background: white;
    border-bottom: 1px solid transparent;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 20%);
    left: 0;
    position: relative;
    right: 0;
    top: 0;
    z-index: 1002;
    height: 85px;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}
.header-admin .header-left-admin {
    height: 85px;
    width: 150px;
    z-index: 1;
    transition: all 0.2s ease-in-out;
}
.page-title-box-admin {
    border-radius: 0;
    height: 85px;
    display: flex;
    align-items: center;
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif 
}
.page-title-box-admin h3 {
    text-align: center;
    color:#4CAF50;
    font-weight: 530px;
    font-size: 2rem;   
    margin-bottom: 0;
}
#nav{
    background-color: #4CAF50;
    height: 45px;
    width: 100%;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 20%);
}
.navbar{
    padding: 0.5rem 0;
}
.navbar-collapse{
    height: 45px;
}
.navbar-nav{
    margin: auto;
}
.navbar-light .navbar-nav .nav-link{
    color: rgb(255, 255, 255);
}
.nav-link,.dropdown-menu li{
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 540;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
.navbar-light .navbar-toggler{
    border-color: #555555;
    margin-left: 10px;
}
.navbar-toggler{
    font-size: 1.2em;
    align-items: center;
    margin-bottom: 2px;
}
.container>button{
    display: flex;
    align-items: center;
    height: 32px;
    width: 45px;
}
.navbar-toggler:focus {
    box-shadow: 0 0 0 0.1rem;
}
.dropdown-menu{
    padding: 0;
    min-height: 3rem;
    width: 11rem;
    text-align: left;
    border-radius: 0;
    box-shadow: black;
    background-color: rgb(255, 255, 255);
    border: 10x solid rgb(15, 11, 11);
}
.dropdown-menu li a{
    padding: 2px 2px 2px 12px; 
    text-decoration: none;
}
.dropdown-menu li a{
    color: black;
}
.container{
        min-width: 100%;
        padding: 0;
    }
.navbar-light .navbar-nav .nav-link:hover{
    color: white;
}
.navbar-light .navbar-nav .nav-link:focus{
    color: white;
}
.navbar-light .navbar-nav .show > .nav-link, 
.navbar-light .navbar-nav .active > .nav-link, 
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .nav-link.active{
    color: white;
}
#logout:hover,.sub-logout:hover{
    cursor: pointer;

}
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}
@media only screen and (max-width: 991px){
    .dropdown{
        width: 100%;
    }
   .dropdown-menu{
       text-align: center;
      width: 100%;
      background-color: #eafaec;
   }
   .dropdown-menu li a{
    padding: 1px;
    }
    .nav-link{
        text-align: center;
    }
    .navbar-light .navbar-nav .show > .nav-link, 
     .navbar-light .navbar-nav .nav-link.active{
        color:white;
    }
    .dropdown-menu li a{
        padding: 0; 
    }
    .dropdown-toggle >.dropdown-menu {
        display: block;
        position: absolute;
      }
    
    .navbar-nav{
        background-color: #4CAF50;
    }
    .container{
        min-width: 100%;
        padding: 0;
    }
    .header-admin {
        left:0;
    }
    .navbar-collapse ul{
        left: 0;
        align-items: center;
    }
}
@media only screen and (max-width: 1034px) and (min-width:991px){
    
}
@media only screen and (max-width: 1034px) and (min-width:890px){
    .page-title-box-admin h3 {
        font-size: 1.7rem;
       
    }
    
}
@media only screen and (max-width: 889px){
    .page-title-box-admin h3 {
        font-size: 1.5rem;
       
    }
}
@media only screen and (max-width: 767.98px){
.header-admin {
    z-index: 1040;
}
.page-title-box-admin {
    display: none;
}
.header-admin .header-left-admin {
    position: absolute;
    width: 100%;
    left:0%;
    text-align: center;
}
}


