#toggle_btn{
    background-color: #4CAF50;
    height: 50px;
    display: block;
    transition: all 0.2s ease-in-out 0s;
    font-size: 26px;
    line-height: 65px;
    float: left;
    height: 100%;
    padding: 0px 10px 0 10px;
    width: 50px;
}
.bar-icon {
    display: inline-block;
    width: 21px;
}
.bar-icon span {
    background-color: white;
    border-radius: 500px;
    display: block;
    height: 2px;
    margin-bottom: 5px;
    width: 21px;
}
.bar-icon span:nth-child(2) {
    width: 15px;
}
.sidebar {
    background-color: #4CAF50;
    border-right: 1px solid transparent;
    transition: all 0.2s ease-in-out 0s;
    width: 220px;
    z-index: 1001;
    float: left;
    height: 100%;
}
.sidebar-inner {
    transition: all 0.2s ease-in-out 0s;
    overflow: hidden;
    width: 100%;
    height: 540px;
}
.sidebar-menu{
    padding: 6px 10px;
}
.sidebar-menu ul {
    font-size: 15px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#sidebar ul li a  {
    padding: 10px;
    margin-left: 10px;
    font-size: 1em;
    display: block;
    color:white;
    text-decoration: none;
    transition:all 0.5s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media only screen and (max-width: 991.98px){

#toggle_btn{
    width:100%;
    background-color: #4CAF50;
    padding-left: 10px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    z-index: 1041;
}
.sidebar-menu {
    margin-left: 0px;
    width: 0px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    z-index: 1041;
}
.sidebar{
    width:50px;
}
}



