
form{
    padding-top: 10px;
}
.row{
    display: block;
    clear: both;
}
.formboxD{
   height: 70%;
    width: 100%;
    background-color: #f3f3f3;
    padding: 30px;
}
.formboxD h4{
    text-align: left;
}
.forminpD{
    float: left;
    padding: 0px 0px 20px 0px;
}
.forminpD label{
    display: block;
    padding-bottom: 3px;
}
.forminpD input[type="text"]{
    display: block;
    width: 200px;
    padding: 12px 20px;
    margin: 0px 50px 0px 0px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    height: 35px;
}
.forminpD input[type=button] {
    display: block;
    text-align: center;
    width: 150px;
    background-image: linear-gradient(#141e30, #243b55);
    color: white;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 25px;
    height: 35px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
  }
.forminpD input[type="submit"]:active {
    background-color: #ffffff;
    color:black;
}

.forminpD input[type="text"]:focus{
    outline:none;
    border: 1px solid black;
}


