
.full{
    padding: 30px 50px 4px 50px;
}
#wrap{
    display: flex;
    align-content: center;
    justify-content: center; 
        flex-wrap: wrap;
}
.full h3{
    text-align: center;
    font-size: 30px;
    font-weight: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 0px;
}
#add{
    color: #555555;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    width: 100%;
    margin-bottom: 55px;
    text-align: center;
    margin-right: 50px;
}
#calen{
    width: 400px;
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    float: left;
    margin-right: 50px;
}
#calenderpic{
    box-shadow: 8px 8px 8px 8px rgba(1, 1, 1, 0.2);
    padding: 10px;
    border-radius: 10px;
}
.right{
    display: flex;
    flex-direction: column;
    margin-left:50px;
    margin-top: 60px;
}
#second{
    display: block;
    font-size: 14px;
    padding-bottom: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#first{
    display: block;
    font-size: 19px;
    padding-bottom: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#description h4{
    font-size: 17px;
    margin-bottom: 20px;
}
#description input[type="text"]{
    display: block;
    width: 300px;
    padding: 12px 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    height: 35px;
    border-radius: 7px;
}
#description input[type="text"]:focus{
    outline:none;
    border: 1px solid #555555;
}
.right button{
    text-align: center;
    background-color: #555555;
    outline: none;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 15px;
    padding: 0;
}
#sub{
    display: block;
    width: 300px;
    height: 35px;
    border-radius: 7px;
}
@media (max-width:920px){
    #wrap{
        flex-direction: column;
        align-items: center;
    justify-content: center;
    }
    #add,#calen{
        margin-right: 0px;
    }
    .right{
        margin-left: 0px;
    }
}
#full h3{
    margin:20px 0px 0px 30px;
    padding: 5px;
    text-align: left;
}