
.full{
    padding: 30px 50px 4px 50px;
}
#wrap{
    display: flex;
    align-content: center;
    justify-content: center; 
        flex-wrap: wrap;
}
.full h3{
    text-align: center;
    font-size: 30px;
    font-weight: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 0px;
}
#add{
    color: #555555;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    width: 100%;
    margin-bottom: 55px;
    text-align: center;
    margin-right: 50px;
}
#calen{
    width: 400px;
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    float: left;
    margin-right: 50px;
}
#calenderpic{
    box-shadow: 8px 8px 8px 8px rgba(1, 1, 1, 0.2);
    padding: 10px;
    border-radius: 10px;
}
.right{
    display: flex;
    flex-direction: column;
    margin-left:50px;
    margin-top: 60px;
}
#second{
    display: block;
    font-size: 14px;
    padding-bottom: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#first{
    display: block;
    font-size: 19px;
    padding-bottom: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#description h4{
    font-size: 17px;
    margin-bottom: 20px;
}
#description input[type="text"]{
    display: block;
    width: 300px;
    padding: 12px 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    height: 35px;
    border-radius: 7px;
}
#description input[type="text"]:focus{
    outline:none;
    border: 1px solid #555555;
}
.right button{
    text-align: center;
    background-color: #555555;
    outline: none;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 15px;
    padding: 0;
}
#sub{
    display: block;
    width: 300px;
    height: 35px;
    border-radius: 7px;
}
@media (max-width:920px){
    #wrap{
        flex-direction: column;
        align-items: center;
    justify-content: center;
    }
    #add,#calen{
        margin-right: 0px;
    }
    .right{
        margin-left: 0px;
    }
}
#full h3{
    margin:20px 0px 0px 30px;
    padding: 5px;
    text-align: left;
}

#sno{
    width: 80px;
}
#dat{
    width: 130px;
}
#eve{
    width: 150px;
}
 #holidays th,td{
    padding: 5px 15px 5px 15px;
}

#holidays th{
    background-image: linear-gradient(#141e30, #243b55);
    color: white;
}
#Holidays{
    float: right;
    margin-left: 60px;
    margin-top: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #f3f3f3;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#holidays table tr td button{
    text-align: center;
    width: 100px;
    background-image: #4CAF50;
    outline: none;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    height: 22px;
    font-size: 15px;
}
#holidays tr:nth-child(even) { 
    background-color: rgb(255, 255, 255); 
} 
#holidays table tr td button:hover{
    background-image: linear-gradient(to top right,#f72735, #b80303);
    color:rgb(255, 255, 255);
    border:none;
} 


 #e{
    display: flex;
    align-content: center;
    justify-content: center;
    padding-top: 20px;
  }
  #e table {
    background: #eafaec; 
    border-radius: 7px;
    overflow:hidden;
    border-collapse: collapse;
    margin: 1em;
    align-content: center;
    padding-right: 10px;
    
  }
  #e th {
    color: white;
    font-size: 15px;
    font-weight: 540;
    padding: 0.5em 1em;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  #e td {
    white-space: nowrap;
    font-size: 14px;
    font-weight: 540;
    padding: 0.65em 1em;
    text-align: center;
    word-break: break-all;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
  }     
