.tog{
    background-color: #555555;
    color:white;
}

#wrap-apply{
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
    margin-top: 20px;
}
.top{
    position: relative;
  padding: 0;
  margin: 0;
  display: flex;
    flex-direction: row;
  justify-content: center;
  align-items: center;
}
.top h3{
    align-self: center;
}
.top l{
    position: absolute;
    top: 0;
    right: 40px;
}
.top r{
    position: absolute;
    top: 0;
     right: 0;
}
.apply{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#forminp-apply{
    padding: 10px 0px;
}
#forminp-apply label{
    display: block;
    font-size: 14px;
    padding-bottom: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#forminp-apply select{
    display: block;
    width: 300px;
    padding-left: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    height: 35px;
    border-radius: 7px;
    margin-bottom: 10px;
}
#forminp-calen label{
    display: block;
    font-size: 14px;
    padding-bottom: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#forminp-apply textarea{
    display: block;
    width: 300px;
    padding: 10px;
    text-align: justify;
    border: 1px solid #ccc;
    box-sizing: border-box;
    height: 100px;
    float: left;
    margin-bottom: 20px;
    font-size: 15px;
}
#forminp-apply input[type="submit"]{
    margin-top: 25px;
    padding: 0;
    display: block;
    width: 300px;
    padding: 12px 20px;
    margin-right: 15px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    height: 35px;
    border-radius: 7px;
    text-align: center;
    background-color: #555555;
    outline: none;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 7px;
}
#forminp-apply select:focus{
    outline:none;
    border: 1px solid #555555;
}
#forminp-apply select:required:invalid {
	color: gray;
}
#forminp-apply select option:not(:first-child){
	color:black;
}
#forminp-calen select{
    width: 100px;
    padding-left: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    height: 35px;
    border-radius: 7px;  
}
.rdrMonthAndYearPickers{
   justify-content: space-between;
}
.rdrMonthsVertical{
    align-items: center;
}
.rdrMonthPicker select,.rdrYearPicker select{
    padding: 0;
}
.rdrCalendarWrapper {
    width: 300px;
}

.rdrDateDisplay {
    margin: 1px;
}
.rdrMonthAndYearWrapper{
    padding-top: 0;
}
.rdrDateDisplayWrapper{
    background-color: white;
}
.rdrDateDisplayItem{
    border-radius: 7px;
}
.rdrDateDisplayItemActive{
    border: 1px solid  #555555;
    box-shadow: 1px 2px 3px 1px rgb(35 57 66 / 21%);
}
#forminp-calen button:active{
    border: 1px solid #555555;
}
#from-to{
    display: flex;
    width: 300px;
}
#from-to span{
    text-align: center;
    width: 150px;  
    font-size: 14px;
    padding-bottom: 3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #555555;
}
#leavecalender-apply{
    box-shadow: 8px 8px 8px 8px rgb(1 1 1 / 20%);
    padding: 10px;
    border-radius: 10px;
}
#leavecalender  .react-calendar{
    width: 270px;
}

.calen{
    box-shadow: 8px 8px 8px 8px rgb(1 1 1 / 20%);
    padding: 10px;
    border-radius: 10px;
}