*{
    margin: 0;
    padding: 0;
}
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body
{
    font-family: sans-serif;
}
form{
    padding-top: 10px;
}
#row{
    display: block;
    clear: both;
}
#formbox{
    width: 100%;
    background-color:white;
    padding: 30px;
    position: relative;
    top:200px;
}
#formbox h3{
    text-align: center;
}

#forminp{
    float: left;
    padding: 0px 0px 20px 0px;
}
#forminp label{
    display: block;
    padding-bottom: 3px;
}
#forminp  input[type="date"]{
    display: block;
    width: 300px;
    padding: 12px 20px;
    margin: 0px 25px 0px 0px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    height: 35px;
}
#forminp  input[type="email"] {
    display: block;
    width: 300px;
    padding: 12px 20px;
    margin: 0px 25px 0px 0px;
    border: 1px solid rgb(184, 178, 178);
    box-sizing: border-box;
    height: 35px;
}
#forminp input[type="text"] {
    display: block;
    width: 300px;
    padding: 12px 20px;
    margin: 0px 25px 0px 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    height: 35px;
}
#forminp input[type="number"] {
    display: block;
    width: 300px;
    padding: 12px 20px;
    margin: 0px 25px 0px 0px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    height: 35px;
}
#forminp select{
    display: block;
    width: 300px;
    padding-left: 12px;
    margin: 0px 25px 0px 0px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    height: 35px;
}
#forminp select:required:invalid {
	color: gray;
}
#forminp input[type="date"]:invalid::-webkit-datetime-edit{
    color: gray;
}
#forminp select option:not(:first-child){
	color:black;
}
#formbox input[type=submit] {
    display: block;
    margin:auto;
    clear: both;
    text-align: center;
    width: 200px;
    background-image: linear-gradient(#141e30, #243b55);
    outline: none;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    height: 42px;
  }

  #submitbutton {
    display: block;
    margin-left: 15px;
    float: left;
    text-align: center;
    width: 200px;
    background-image: linear-gradient(#141e30, #243b55);
    outline: none;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    height: 42px;
  }
#submitbutton :active {
    background-color: #ffffff;
    color:black;
    border:none;
}
#forminp input[type="email"]:focus{
    outline:none;
    border: 1px solid black;
}
#forminp input[type="text"]:focus{
    outline:none;
    border: 1px solid black;
}
#forminp input[type="number"]:focus{
    outline:none;
    border: 1px solid black;
}
#forminp select:focus{
    outline:none;
    border: 1px solid black;
}
#forminp input[type="date"]:focus{
    outline:none;
    border: 1px solid black;
}

