#outdiv{
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 50px 50px 50px;
}
#outdiv .h33{
  text-align: center;
  font-size: 30px;
  font-weight: normal;
  color: #555555;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 20px;
}
.card
{
  box-shadow: 8px 8px 8px 8px rgb(1 1 1 / 20%);
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  background-clip: border-box;
  border-radius: .25rem;
  padding: 25px;
  margin: 0px 110px 0px 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card-body
{
  flex: 1 1 auto;
  padding: 1.25rem;
}

.profile-view
{
  position:relative;
}
.left{
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  text-align: right;
}
.right-p{
  border-left: 2px dashed #555555;
  font-size: 14px;
}
.user-name
{
  color:#555555;
  margin-bottom: 30px;
  font-size: 25px;
  line-height: 1.7;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.text-muted-p
{
  color:#555555;
  font-size:15px;
  margin-bottom:10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 550;
}
.text-area
{
  font-size:14px;
  color: #4d4d4d;
  overflow: hidden;
  font-weight: normal;
}
.personal-info
{
  list-style:none;
  margin-bottom:0;
  padding:px 0px 0px 40px;
}
.personal-info li
{
  margin-bottom: 10px;
}
.personal-info li .title
{
  color: #4f4f4f;
  float:left;
  font-weight: bold;
  margin-right: 30px;
  width:25%
  
}
.personal-info li .text
{
  color: #4d4d4d;
  display: block;
  overflow: hidden;
}
.leaves-profile{
  display: flex;
  align-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.leave-profile{
  border: 1px solid #ccc;
  border-radius: 7px;
  width: 230px;
  padding: 10px;
  display: flex;
  margin-top: 15px;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
}
.leave-head{
  color:#555555;
  font-size:20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.leave-data{
  color: #4d4d4d;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@media (max-width:768px)
{
  .right-p
  {
  border-top:2px dashed #555555;
  border-left: none;
  }
  .personal-info{
    padding-top: 20px;
  }
  .card{
    margin: 0;
  }
  .left{
    text-align: center;
  }
  .right-p{
    margin: auto;
    padding-left: 0%;
  }
}
