.card
{
  border: 1px solid #ededed;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 20%);
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: .25rem;
  width:70%
}
.card-body
{
  flex: 1 1 auto;
  padding: 1.25rem;
}
/*.row
{
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}*/
.profile-view .profile-basic {
  margin-left: 140px;
  padding-right: 50px;
}
@media (max-width:768px)
{
  .profile-info-left
  {
  border-bottom:2px dashed black;
  }
}
/*.col-md-12
{
  flex: 0 0 100%;
  max-width:100%;
  position:relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.col-md-5
{
  flex: 0 0 41.666667%;
  max-width:41.666667%;
  position:relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.col-md-7
{
  flex: 0 0 58.333333%;
  max-width:58.333333%;
  position:relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}*/
.profile-view
{
  position:relative;
}
.profile-into-left
{
  border-right: 2px dashed #000;
}
.user-name
{
  color:#333;
  margin-bottom: 30px;
  font-weight: bold;
  line-height: 2;
}
.text-muted
{
  color:grey;
  line-height:1.2;
  font-size:20px;
  margin-bottom:10px;
  font-weight: bold;
  
  
  
}
.text-area
{
  font-size:20px;
  color:black;
  overflow: hidden;
  


}
.personal-info
{
  list-style:none;
  margin-bottom:0;
  padding:0;
}
.personal-info li
{
  margin-bottom: 10px;
}
.personal-info li .title
{
  color: #4f4f4f;
  float:left;
  font-weight: bold;
  margin-right: 30px;
  width:25%
  
}
.personal-info li .text
{
  color: #8e8e8e;
  display: block;
  overflow: hidden;
}
.text a:hover
{
  color: #007bff;
  text-decoration: none;
  
  cursor:pointer;
}