#bb{
  display: flex;
  padding-top: 20px;
  flex-direction: column;
}
.searchbar{
  text-align: center;
}
.searchbar input[type="text"]
{
    width: 300px;
    padding-left: 12px;
    margin-right: 15px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    height: 35px;
    border-radius: 7px;
    font-size: 14px;
}
.searchbar input[type="text"]:focus{
  outline:none;
  border: 1px solid #555555;
}
.branch-table{
  display: flex;
  align-content: center;
  justify-content: center;
}
.emp-table{
  display: flex;
}
#bb table {
  background: #eafaec; 
  border-radius: 7px;
  overflow:hidden;
  border-collapse: collapse;
  margin: 1em;
}
#bb th {
  color: white;
  font-size: 15px;
  font-weight: 540;
  padding: 0.5em 1em;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border:0px;
}

#bb td {
  white-space: nowrap;
  font-size: 14px;
  font-weight: 540;
  text-align: center;
  padding: 0.65em 1em;
  word-break: break-all;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border:none;
}
#bb tr:nth-child(odd){
  background-color: #4CAF50;
  color: white;
}
#bb td a{
  background-color: #555555;
  color: white;
}
.table>:not(caption)>*>*{
  padding:0;
  border-bottom-width: 0px;
}
.table>:not(caption) .table-button{
  background-color: #555555;
}
.table-button{
  width: 80px;
  background-color: #555555;
  border-radius: 7px;
  display: flex;
  padding: 1px 5px;
  align-content: center;
  justify-content: center;
  color: white;
  flex-direction: row;
  flex-wrap: nowrap;
 
}
.table-button:hover{
  cursor: pointer;
}
#bb td button{
  background-color: #555555;
  border: 0px;
  color: white;
  border-radius: 7px;
}
.td-update{
  display: flex;
  justify-content: center;
  align-content: center;
}

.employees-list-top{
  display: flex;
  align-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
@media (max-width:990px){
  .branch-table{
    align-content: initial;
    justify-content: initial;
    width: 100%;
    overflow-x: auto;
  }
  .branch-table table{
    width: 100%;
  }
}
  @media only screen and (max-width:530px){
    
    .searchbar input[type="text"]{
      width: 200px;
      text-align: center;
    }
  }
  
