
#e{
  display: flex;
  align-content: center;
  justify-content: center;
  padding-top: 20px;
}
#e table {
  background: #eafaec; 
  border-radius: 7px;
  overflow:hidden;
  border-collapse: collapse;
  margin: 1em;
  align-content: center;
  padding-right: 10px;
  
}
#e th {
  color: white;
  font-size: 15px;
  font-weight: 540;
  padding: 0.5em 1em;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#e td {
  white-space: nowrap;
  font-size: 14px;
  font-weight: 540;
  padding: 0.65em 1em;
  text-align: center;
  word-break: break-all;
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
  
}

#e tr {
  border-style:hidden;
}

#e tr:nth-child(odd) {
  background-color: #4CAF50;
  color: white;
}
@media only screen and (max-width: 991.98px){
  
}
@media only screen and (max-width:1125px){
  #e{
    display: block;
    overflow-x: scroll;
    left:1px;
  }
}
/*
#leaves{
  margin: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background:whitesmoke;
  float: left;
  height: 125px;
  width: 350px;
  text-align: center;
}
#leaves:hover {
  transform:scale(1.1);
  border-style: solid;
  border-width: 5px;
  border-color: rgba(94, 96, 206);
}

#p2{
    padding: 10px;
    font-weight: 500;
    font-size: 1.3em;
    color: black;
}


*/


